<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav class="#64ffda teal accent-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">みにぶろぐ プロトタイプβ版</a>
      <% if user_signed_in? %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--  <li><p class="name">ユーザー：<%= current_user.nickname %>さん</p></li>  -->
          <li><a class="badges.html"rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></li>
          <li><a href="collapsible.html/new">新規投稿</a></li>
        </ul>
      <% else %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="sass.html"href="/users/sign_in">ログイン</a></li>
          <li><a class="post" href="/users/sign_up">新規登録</a></li>
        </ul>
      <% end %>
    </div>
  </nav>

<%= yield %>

</body>
</html>
